@import "shared.less";

body {
    height: 100%;

    .home-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //height: 8em;
        .home-page-photo {
            width: 90em;
        }

        .site-text-content {
            flex-direction: column;
        }

        .home-line {
            width: 10em;
        }

        .about-line {
            width: 11em;
        }
    }

    .our-goats-photo {
        width: 80em;
    }


    .our-dogs-img {
        object-fit: contain;
        height: 40em;
        width: 80em;
    }

    .our-goats-photo-container {
        object-fit: contain;
        height: 40em;
        width: 80em;
        margin-left: auto;
        margin-right: auto;
    }

    .top-h2 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: @white;
    }

    .landing-image {
        flex: 1;
        background-image: url('../images/homepagetop.jpg');


        /* Add the blur effect */
        //filter: blur(2px);
        //-webkit-filter: blur(2px);

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .landing-image-puppies {
        flex: 1;
        background-image: url('../images/puppieslanding.jpg');


        /* Add the blur effect */
        //filter: blur(2px);
        //-webkit-filter: blur(2px);

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .landing-image-goats {
        flex: 1;
        background-image: url('../images/goatsbanner.jpg');


        /* Add the blur effect */
        //filter: blur(2px);
        //-webkit-filter: blur(2px);

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .landing-link-container{
        margin-left: auto;
        margin-right: auto;

        .landing-arrow {
            transition: all 0.4s ease;
        }
    }

    .hack {
        color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        font-size: 2px;
    }

    .landing-container {
        font-size: 1.5rem;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
        color: @white;
        border: 3px solid @white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }
}
