@import "shared.less";

body {

    .about-line {
        width: 11em;
    }

    .puppies-sales-info {
        background-color: @white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .for-sale-line {
        width: 9em;
    }

    .puppy-line {
        width: 24em;
    }

    .puppy-link {
        color: @primary;
        &:hover {
            cursor: pointer;
        }
    }
}



