@import "shared.less";

.dd-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .dd-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: default;
        position: relative;
        background-color: @primary;
    }

    .dd-list {
        z-index: 10;
        position: absolute;
        width: 100%;
        border-top: none;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: @primary;
        padding: 15px 0;
        // max-height: 215px;
        // overflow-y: scroll;
        width:  225px;
        -webkit-overflow-scrolling: touch;
    }
    .dd-list-item {
        width: 100%;
        padding: 8px 10px;
        cursor: default;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dd-list-item.selected {
        color: #fff;
        background-color: @secondary;
    }
    .dd-list-item:hover {
        color: #fff;
        background-color: @secondary;
    }
    .dd-wrapper-single {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
    }
    
    .dd-wrapper-single .dd-list {
        border: 1px solid #ccc;
        border-top: none;
    }
}
