@import "shared";

body {
  .mini-nubians-header {
    width: 14em;
  }

  .breeding-line {
    width: 21em;
  }

  .ref-line {
    width: 18em;
  }

  .buck-line {
    width: 7em;
  }

  .snd-line {
    width: 27em;
  }

  .goat-table {
    width: 90%;

    .goat-header {
      padding-top: 1em;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.2em;
      padding-right: 1.3em;
      color: @primary;
    }

    .goat-table-spec {
      color: @primary;
      margin-bottom: 0.5rem;
    }

    .goat-table-image {
      height: 18em;
      padding-bottom: 1em;
    }

    .left-goat-td {
      padding-left: 1em;
    }

    .goat-content {
      padding-top: 1em;
      background-color: @white;
    }
  }

  .breeding-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .breeding-table {
      width: 50em;
      margin-bottom: 4em;

      .breeding-img {
        height: 15em;
        padding: 2em 2em 2em 2em;
      }

      .breeding-info {
        color: @primary;
      }
    }
  }

}
