@import "shared.less";
@import "dropdown.less";
@hover: @white;

body {
  .nav-bar {
    width: 100%;
    display: flex;
    background-color: @primary;
    border-bottom: 3px solid @third;
  }

  .nav-right {
    display: flex;
    padding-right: 15px;

    .nav-selected {
      text-decoration: underline;
    }

    .selected-nav-item {
      font-weight: bold;
    }

    .nav-link {
      padding-top: 15px;
      color: @white;

      &:hover {
        cursor: pointer;
        color: @hover !important;
      }
    }
  }

  .nav-brand {
    padding: 15px 10px 15px 10px;
    font-weight: 700;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
      color: @hover !important;
    }
  }

  a {
    color: @white !important;
    text-decoration: none !important;

    &:hover {
      color: @hover !important;
    }
  }
}


