@font-face {
  font-family: 'Railway';
  src: url('//fonts.googleapis.com/css?family=Raleway');
  font-weight: normal;
  font-style: normal;

}

@secondary: #7fc16c;
@white: #fff;
@third: #918051;
@primary: #184715;
@fourth: #986054;
@fifth: #AF4F43;