@import "shared";

body {
  background: @white;
  line-height: 26px;

  .top {
    display: block;

    .top-text {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .table-page-photo {
    width: 90em;
    padding-bottom: 3em;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .sale-table {
    width: 100%;
    margin-bottom: 20px;

    .sale-table-header {
      background-color: @third !important;
      color: @white !important;
    }

    .no-sale-row {
      background-color: @white;
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-top {
    padding-top: 40px;
  }

  .block {
    display: block;
  }

  .header-bar {
    // width: 20em;
    height: 4px;
    background: #444649;
    margin-bottom: 50px;
  }

  .padding-15-top {
    padding-top: 15px;
  }

  .padding-right-5 {
    padding-right: 5px
  }

  .site-content {
    margin: 0px 30px 80px 80px;
  };
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .site-text-content {
    display: flex;
    // font-size: 10pt;
    width: 90%;
    margin-top: 10px;

  };
  
  .site-text-label {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 10px;
  };

  .split-container-left{
    margin-right: 30px;
  };

}

table {
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
}

.sales-puppy {
  font-size: 12pt;
}

.site-table {
  // border: 1px solid grey;

  .site-row {
    th, td {
      padding-top: 5px;
    }
    .site-row-image {
      width: 50%;
    }
  }
}
